body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.call-us {
  background-color: #2386ec;
  border-radius: 10px;
}

.footer {
  background-color: #304057;
}

.home-banner {
  background-image: url("/public/Home Banner.png");
  background-repeat: repeat-y;
  background-position: 100%;
  background-position-y: 20%;
  background-size: fill;
}

.listing-banner {
  background-image: url("/public/AdobeStock_259097390-scaled-1.jpeg");
  background-repeat: repeat-y;
  background-position: 50%;
  background-position-y: 48%;
  background-size:contain;
}

.videoText {
  position: relative;
  min-height: 950px;
}
.videoText span {
display: inline-block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff;
font-size: 36px;
text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*z-index: -1;*/
  /*opacity: .15;*/
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about-banner {
  background-image: url("/public/london-gfd70a331a_1920.jpg");
  background-repeat: repeat-y;
  background-position: 45%;
  background-position-y: 78%;
  background-size: fill;
}

.contact-banner {
  background-image: url("/public/luxury-3115234_1920.jpg");
  background-repeat: repeat-y;
  background-position: 85%;
  background-position-y: 48%;
  background-size: cover;
}

.landing {
  color: #00C774;
}

.gold {
  color: #FFD700;
}

.silver {
  color: #C0C0C0;
}

.bronze {
  color: #CD7F32;
}

.l1 {
  color: #033B6C;
}

.landing-video {
  color: #00C774;
}

.landing-video-1 {
  background-color: #00C774;
}

.roadmap {
  color: #FEA655;
  width: 50%;
}

.roadmap-step {
  background-color: #FEA655;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}
.roadmap-final-step {
  color: #FEA655;
  padding: 5px;
  border-radius: 8px;
}

.story-img {
  border-radius: 12px;
}
.navbar-brand {
  width: 15%;
}

.middleTile {
  border-radius: 10px;
}

.edgeTile {
  border-radius: 20px;
}

.send-message {
  background-color: #2386ec;
  border-radius: 10px;
}
.logo {
  background-image: url("/public/homelord.jpg");
}

#call-us{
  width: 120px;
  margin: 10px 25px 25px 0px;
}

#landing-video{
  width:700px;
  height:500px ;
}
@media (max-width: 799.98px) {
  #landing-video{
    width:400px;
    height:270px ;
  }
}
@media (min-width: 850px) {
    #myCarousel{
      display: block;
    }
    #carouselExampleDark{
      display: none;
    }


  /* .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0); */
}

@media (max-width: 850px) {
  #myCarousel{
    display: none;
  }
  #carouselExampleDark{
    display: block;
  }
}


.box {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: sans-serif;
  line-height: 1;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px 40px;
}

@media (min-width: 998px) {
#carousel-left{
  left:-40px;
}

#carousel-right{
  right:40px;
}
}
.style1{
  width: 80%; height: 300px; border-radius: 21px 21px 0 0;
}
.cont1{
  background-color: #F6E9D9;
  border-radius: 12px;
}

.my-thing{
  
}